<footer
  class="flex flex-col bg-strong-black py-20 text-dimmed-white | lg:flex-row lg:items-baseline lg:px-desktop-padding lg:justify-between">
  <div class="flex flex-col space-y-9 text-center | lg:flex-row lg:items-baseline lg:text-left lg:space-x-24">
    <dl>
      <dt class="archivo-font font-black mb-8">MASTER CHILE</dt>
      <dd>
        <p class="text-dimmed-white/70">Copyrights &#64; 2023</p>
      </dd>
    </dl>
    <dl>
      <dt class="archivo-font font-black mb-8">SECCIONES</dt>
      <dd class="flex flex-col space-y-3">
        <a href="">Nosotros</a>
        <a href="">Sucursales</a>
        <a href="">Eventos</a>
        <a href="">Contacto</a>
      </dd>
    </dl>
    <dl>
      <dt class="archivo-font font-black mb-8">DIRECCION</dt>
      <dd class="flex flex-col space-y-3"><a href="">Av. Ficticia 2424 local B</a>
        <p>Santiago de Chile</p>
      </dd>
    </dl>
  </div>

  <dl class="mt-9 flex flex-col items-center text-center | lg:block lg:items-start lg:text-left">
    <dt class="archivo-font font-black mb-8">REDES SOCIALES</dt>
    <dd class="flex space-x-8">
      <img class="w-7" src="../../../assets/instagram-icon.svg" alt="link a cuenta de Instagram">
      <img class="w-7" src="../../../assets/whatsapp-icon.svg" alt="numero de Whatsapp">
      <img class="w-7" src="../../../assets/atsign-icon.svg" alt="correo electronico">
    </dd>
  </dl>
</footer>
