<nav class="flex justify-between items-center bg-dimmed-white text-lighter-black py-8 px-desktop-padding">
  <span class="archivo-font text-lg ">MASTER CHILE</span>
  <ul class="dm-sans-font text-lighter-black/70 text-sm flex space-x-16">
    <li>
      <a>INICIO</a>
    </li>
    <li>
      <a>NOSOTROS</a>
    </li>
    <li>
      <a>SUCURSALES</a>
    </li>
    <li>
      <a>EVENTOS</a>
    </li>
  </ul>
  <div class="flex space-x-3">
    <img src="../../../assets/chile-flag.svg" alt="bandera de Chile" />
    <span>CL</span>
  </div>
</nav>
