<nav
  class="flex justify-between items-center bg-dimmed-white text-lighter-black py-6 px-desktop-padding shadow-2xl shadow-black">
  <span class="archivo-font font-black text-lg ">MASTER CHILE</span>
  <ul class="dm-sans-font text-lighter-black/60 text-sm flex space-x-16">
    <li>
      <a class="lg:hover:text-lighter-black/100" routerLink="/inicio"
        routerLinkActive="text-lighter-black/100">INICIO</a>
    </li>
    <li>
      <a class="lg:hover:text-lighter-black/100" routerLink="/sucursales"
        routerLinkActive="text-lighter-black/100">SUCURSALES</a>
    </li>
    <li>
      <a class="lg:hover:text-lighter-black/100" routerLink="/nosotros"
        routerLinkActive="text-lighter-black/100">NOSOTROS</a>
    </li>
    <li>
      <a class="lg:hover:text-lighter-black/100" routerLink="/contacto"
        routerLinkActive="text-lighter-black/100">CONTACTO</a>
    </li>

  </ul>
  <div class="flex space-x-3">
    <img src="../../../assets/chile-flag.svg" alt="bandera de Chile" />
    <span class="text-sm flex items-center">CL</span>
  </div>
</nav>
