<section class="bg-strong-black">
  <ul class="px-10 grid grid-cols-1 gap-y-16 pb-32 | lg:justify-items-center lg:w-[1000px] lg:m-auto lg:grid-cols-2  ">
    <li *ngFor="let branch of showBranches; let id = index" #id>
      <div
        class="relative z-10 rounded-md h-40 flex cursor-pointer flex-col justify-center items-center border-solid border-2 border-dimmed-white | lg:w-96"
        [ngClass]="id % 2 === 0 ? 'branch-bg-1':'branch-bg-2'" (click)="toggleDetail(id)">
        <h4 *ngIf="!branch.showDetails ; else elseDiv"
          class="text-dimmed-white archivo-font text-xl font-black tracking-widest uppercase | lg:text-2xl">
          {{branch.region}}
        </h4>
        <h3 *ngIf="!branch.showDetails" class="text-dimmed-white/80">{{branch.comuna}}</h3>
        <ng-template #elseDiv>
          <div class=" dark-bg-effect flex flex-col justify-center pl-10 items-start">
            <h5 class="archivo-font m-0 font-medium text-xl leading-5 text-dimmed-white">{{branch.id}}</h5>
            <span class="text-dimmed-white/75 my-1 ">{{branch.ciudad}}</span>
            <span
              class="contact-container mt-1 bg-bright-red pl-2 py-0.5 pr-1 rounded flex whitespace-nowrap items-center">
              <img [src]="branch.tlf ? '../../../assets/call.svg' : ''">
              <a [class]="branch.tlf ? 'text-2xl pr-1 ml-2 w-full font-medium' : 'text-xl mx-2 my-0.5 w-full font-medium'"
                [href]="branch.tlf ? 'telf:' + branch.tlf : 'mailto:' + branch.email">{{branch.tlf ? branch.tlf :
                branch.email}}</a>
            </span>
          </div>
        </ng-template>
      </div>
    </li>
  </ul>
</section>
