<section *ngIf="showBranches.length != 0" class="bg-strong-black  ">
  <ul
    class="px-2 grid grid-cols-1 gap-y-16 pb-32 | md:px-10 | lg:justify-items-center lg:w-[1000px] lg:m-auto lg:grid-cols-2  ">
    <li *ngFor="let branch of showBranches; let id = index" #id>
      <div
        class="relative z-10 rounded-md flex cursor-pointer h-44 flex-col justify-center items-center border-solid border-2 border-dimmed-white | md:h-40 md:mx-auto md:w-[400px] | lg:mx-0 lg:w-96"
        [ngClass]="id % 2 === 0 ? 'branch-bg-1':'branch-bg-2'" (click)="toggleDetail(id)">
        <h4 *ngIf="!branch.showDetails ; else elseDiv"
          class="text-dimmed-white archivo-font text-xl font-black tracking-widest uppercase | lg:text-2xl">
          {{branch.region}}
        </h4>
        <h3 *ngIf="!branch.showDetails" class="text-dimmed-white/80 leading-none">{{branch.comuna}}</h3>
        <ng-template #elseDiv>
          <div class=" dark-bg-effect flex flex-col px-6 items-start | sm:px-8"
            [ngClass]="branch.showDetails ? 'pt-8 pb-8' : 'justify-center' ">
            <h5 class="archivo-font m-0 font-medium text-xl leading-5 text-dimmed-white">{{branch.id}}</h5>
            <span class="text-dimmed-white/75 my-1 ">{{branch.ciudad}}</span>
            <div class="hidden | sm:flex self-end  justify-end items-center">
              <a class="contact-container rounded bg-bright-red mt-1 mr-8 w-full pl-2 py-0.5 pr-1 whitespace-nowrap font-medium "
                [class]="branch.tlf ? 'text-2xl pr-1 ml-2' : ' text-xl mx-2 my-0.5'"
                [href]="branch.tlf ? 'telf:' + branch.tlf : 'mailto:' + branch.email">{{branch.tlf ? branch.tlf :
                branch.email}}</a>
              <span class="pl-2 py-0.5 bg-dimmed-white"><img src="../../../../../assets/icons/desktop-phone-icon.svg"
                  alt="" /></span>
            </div>
            <div class="flex justify-end w-full mt-4 | sm:hidden">
              <button
                class="rounded pr-5 pl-3.5 py-2 bg-bright-red text-dimmed-white flex justify-center items-center archivo-font font-black">
                <img class="mr-1" src="../../../../../assets/icons/phone-icon.svg" alt="">
                TELEFONO
              </button>
              <button
                class="ml-4 rounded px-5 py-2 bg-dimmed-white text-lighter-black flex justify-center items-center archivo-font font-black">
                <img class="mr-1" src="../../../../../assets/icons/email-icon.svg" alt="">
                EMAIL
              </button>
            </div>
          </div>
        </ng-template>
      </div>
    </li>
  </ul>
</section>
