<section class="bg-strong-black text-dimmed-white py-10 flex flex-col justify-center items-center">
  <h3 class="archivo-font font-bold mb-10 text-4xl">sucursales</h3>
  <select class="py-3.5 px-4 w-80 text-strong-black font-medium rounded-md" [(ngModel)]="selected"
    (ngModelChange)="onValueChange($event)">
    <option value="" disabled selected>Selecciona tu zona</option>
    <option *ngFor="let branch of branchesData | keyvalue" [value]="branch.key">{{ branch.key | convertToReadable}}
    </option>
  </select>
  <h4>{{selected}}</h4>
</section>
