<section
  class="flex flex-col items-center text-center relative z-10 pt-24 pb-[65vw] bg-light-black barbell-bg text-dimmed-white overflow-x-clip | md:pb-[30vw] | lg:pt-40 lg:block lg:px-desktop-padding lg:pb-20 lg:text-left lg:items-baseline">
  <h2 class="mb-4 archivo-font text-[2.8rem] leading-[4rem] font-bold | lg:text-6xl">¿Que es ser<br />un
    <span class="master-container bg-bright-red pl-1 pt-0.5 pr-3 rounded-md"><i>MASTER?</i></span>
  </h2>
  <p class="px-10 max-w-[35ch] mb-14 text-dimmed-white/80 | lg:mb-16 lg:px-0 lg:max-w-[35ch]">Lorem ipsum
    dolor sit
    amet,
    consectetur
    adipiscing
    elit.
    Ut et
    massa mi. Aliquam in
    hendrerit
    urna. Pellentesque.
  </p>
  <div class="px-10 grid grid-cols-1 lg:grid-cols-3 gap-16 | md:grid-cols-2  | lg:gap-20 lg:px-0">
    <div class="bg-lighter-black p-8 rounded-md shadow-2xl shadow-black/80 | md:p-6 | lg:max-w-[480px]">
      <h3 class="archivo-font font-bold text-[1.35rem] mb-3">Inicios</h3>
      <p class="text-dimmed-white/80 | lg:w-[95%]">Un poco de como esta fundada consectetur adipiscing elit. Ut et massa
        mi.
        Aliquam
        in hendrerit urna.
    </div>
    <div class="bg-lighter-black p-8 rounded-md shadow-2xl shadow-black/80 | md:p-6 | lg:max-w-[480px]">
      <h3 class="archivo-font font-bold text-[1.35rem] mb-3">Trayectoria</h3>
      <p class="text-dimmed-white/80 | lg:w-[95%]">Un poco de como esta fundada consectetur adipiscing elit. Ut et massa
        mi.
        Aliquam
        in hendrerit urna.
    </div>
    <div class="bg-lighter-black  p-8 rounded-md shadow-2xl shadow-black/80 | md:p-6 | lg:max-w-[480px]">
      <h3 class="archivo-font font-bold text-[1.35rem] mb-3">Actualidad</h3>
      <p class="text-dimmed-white/80 | lg:w-[95%]">Un poco de como esta fundada consectetur adipiscing elit. Ut et massa
        mi.
        Aliquam
        in hendrerit urna.
    </div>

  </div>
</section>
