@tailwind base;/* You can add global styles to this file, and also import other style files */
@tailwind components;/* You can add global styles to this file, and also import other style files */
@tailwind utilities;

@font-face {
  font-family: 'Archivo';
  src: url('assets/fonts/Archivo/Archivo-VariableFont_wdth,wght.ttf') format('truetype');
}
@font-face {
  font-family: 'DM_Sans';
  src: url('assets/fonts/DM_Sans/DMSans-VariableFont_opsz,wght.ttf') format('truetype');
}

.archivo-font {
  font-family: 'Archivo';
  font-weight: 900;
}

.dm-sans-font {
  font-family: 'DM_Sans';
}

