@tailwind base;/* You can add global styles to this file, and also import other style files */
@tailwind components;/* You can add global styles to this file, and also import other style files */
@tailwind utilities;

@font-face {
  font-family: 'Archivo';
  src: url('assets/fonts/Archivo/Archivo-VariableFont_wdth,wght.ttf') format('truetype');
}
@font-face {
  font-family: 'DM_Sans';
  src: url('assets/fonts/DM_Sans/DMSans-VariableFont_opsz,wght.ttf') format('truetype');
}

body {
  font-family : 'DM_Sans'
}

.archivo-font {
  font-family: 'Archivo';
}
.master-container {
  position: relative;
}
.master-container:after {
  content: '';
  z-index: -1;
  position: absolute;
  right: -3.3rem;
  top: -8.5px;
  width: 0;
  height: 0;
  border-left: 45px solid transparent;
  border-right: 45px solid transparent;
  border-bottom: 49px solid #C42021;
  transform: rotate(0.867turn);
 }
.barbell-bg {
  background-image: url('./assets/barbell.svg');
  background-repeat: no-repeat;
  background-position: 75% 50%;
}
.dm-sans-font {
  font-family: 'DM_Sans';
}
.gradient-shadow {
  z-index: 0;
  position: absolute;
  top: 6rem;
  left: 2rem;
  box-shadow: 0px 0px 200px 60px rgba(255,255,255,0.6);
}
.btn-shadow {
  box-shadow: -10px 10px 70px 0px rgba(255,255,255,0.1);

}
