@tailwind base;/* You can add global styles to this file, and also import other style files */
@tailwind components;/* You can add global styles to this file, and also import other style files */
@tailwind utilities;

@font-face {
  font-family: 'archivo';
  src: url('./assets/fonts/Archivo/Archivo-VariableFont_wdth,wght.ttf') format('truetype');
}
@font-face {
  font-family: 'dm_sans';
  src: url('./assets/fonts/DM_Sans/DMSans-VariableFont_opsz,wght.ttf') format('truetype');
}
html {
  background-color: "#332E2E";
}
body {
  font-family : 'dm_sans';
}
.archivo-font {
  font-family: 'archivo';
}
.master-container {
  position: relative;
}
.master-container:after {
  content: '';
  z-index: -1;
  position: absolute;
  background-image: url('./assets/decorator.svg');
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
  width: 80px;
  right: -37px;
  top: 0rem;
}
.contact-container {
  position: relative;
}
.contact-container:after {
  content: '';
  z-index: -1;
  position: absolute;
  background-image: url('./assets/decorator.svg');
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
  width: 60px;
  right: -28px;
  top: 0rem;
}
.contact-container-2 {
  position: relative;
}
.contact-container-2:after {
  content: '';
  z-index: -1;
  position: absolute;
  background-image: url('./assets/decorator-white.svg');
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
  width: 60px;
  left: -25px;
  top: 0rem;
}
.barbell-bg {
  background-image: url('./assets/barbell.svg');
  background-repeat: no-repeat;
  background-position: 75% 50%;
}
.dm-sans-font {
  font-family: 'DM_Sans';
}
.gradient-shadow {
  z-index: 0;
  position: absolute;
  top: 6rem;
  left: 2rem;
  box-shadow: 0px 0px 200px 60px rgba(255,255,255,0.6);
}
.btn-shadow {
  box-shadow: -10px 10px 70px 0px rgba(255,255,255,0.1);
}
.branch-bg-1 {
  background-image: url('./assets/branch-bg-3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 35%;
}
.branch-bg-2 {
  background-image: url('./assets/branch-bg-2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 50%;
}
.dark-bg-effect {
  width: 100%;
  height: 100%;
  position: relative;
}
.dark-bg-effect:before {
 content: "";
 z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}
.cta-bg {
  background-image: url("./assets/oldman.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}
.cta-bg:after {
  content: '';
  background-image: url('./assets/vectors-cta.svg');
  background-repeat: no-repeat;
  width: 200px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 10vw;
}

@media only screen and (max-width: 1000px) {
  .barbell-bg {
    background-size: 80vw;
    background-position: right -8vw bottom -18vw ;
  }
  .cta-bg {
   background-size: 40vw;
   background-position: bottom -6vw right 0vw;
  }
  .cta-bg:after {
    left: 10vw;
    background-size: 25vw;
    background-position: 0vw -2vw;
  }
 }

@media only screen and (max-width: 640px) {
  .cta-bg {
  background-size: contain;
   background-position: bottom -10vw right -15vw;
  }
  .cta-bg:after {
    background-size: contain;
    left: 0;
  }
  .master-container:after {
    right: -48px;
  }
  .barbell-bg {
    background-size: 140vw;
    background-position: right -45vw bottom -30vw ;
  }
 }
