<main class="bg-light-black text-dimmed-white">
  <div class="pl-desktop-padding max-w-3xl py-28 ">
    <span class="gradient-shadow"></span>
    <h1 class="text-6xl archivo-font font-black leading-[4rem] ">CONSTANCIA<br />DISCIPLINA<br />ESFUERZO<br />
    </h1>
    <p class="mt-4  text-dimmed-white/80 w-[40ch]">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Morbi leo mi,
      imperdiet non
      justo eu,
      facilisis finibus
      sapien. Morbi est quam, dapibus vel rutrum vel</p>
    <button
      class="bg-bright-red archivo-font font-black mt-6 mr-5 py-2.5 px-11 rounded-md text-lg btn-shadow tracking-wider"
      alt="suscribirse">INSCRIBETE</button>
    <span class="archivo-font font-extrabold">SIN COSTO</span>
  </div>
</main>
<section class="bg-strong-black py-7 flex justify-center items-center space-x-24">
  <img src="../../../../assets/fechipo.svg" alt="fechipo logo" class="w-60" />
  <img src="../../../../assets/fechipo.svg" alt="fechipo logo" class="w-60" />
  <img src="../../../../assets/fechipo.svg" alt="fechipo logo" class="w-60" />
</section>
<section class="relative -z-10 pt-40 pb-20 bg-light-black barbell-bg text-dimmed-white px-desktop-padding ">
  <h2 class="mb-4 archivo-font text-6xl leading-[4rem] font-bold">¿Que es ser<br /> un <span
      class="master-container bg-bright-red pl-0.5 pr-0 pb-0 rounded-md"><i>MASTER?</i></span>
  </h2>
  <p class="max-w-[35ch] mb-16 text-dimmed-white/80">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et
    massa mi. Aliquam in
    hendrerit
    urna. Pellentesque.
  </p>
  <div class="flex justify-between">
    <div class="bg-lighter-black max-w-[480px] p-8 rounded-md shadow-2xl shadow-black/80">
      <h3 class="archivo-font font-bold text-[1.35rem] mb-3">Inicios</h3>
      <p class="text-dimmed-white/80 w-[95%] ">Un poco de como esta fundada consectetur adipiscing elit. Ut et massa mi.
        Aliquam
        in hendrerit urna.
    </div>
    <div class="bg-lighter-black max-w-[480px] p-8 rounded-md shadow-2xl shadow-black/80">
      <h3 class="archivo-font font-bold text-[1.35rem] mb-3">Trayectoria</h3>
      <p class="text-dimmed-white/80 w-[95%] ">Un poco de como esta fundada consectetur adipiscing elit. Ut et massa mi.
        Aliquam
        in hendrerit urna.
    </div>
    <div class="bg-lighter-black max-w-[480px] p-8 rounded-md shadow-2xl shadow-black/80">
      <h3 class="archivo-font font-bold text-[1.35rem] mb-3">Actualidad</h3>
      <p class="text-dimmed-white/80 w-[95%] ">Un poco de como esta fundada consectetur adipiscing elit. Ut et massa mi.
        Aliquam
        in hendrerit urna.
    </div>

  </div>
</section>
<section class="bg-strong-black py-11">
  <h3>sucursales</h3>
</section>
<section class="relative py-14 bg-light-black text-dimmed-white flex justify-center flex-col items-center cta-bg">
  <h2 class="mb-6 text-5xl font-bold dm-sans-font">Conviertete en un<br /> <i>Master</i>, es gratis!</h2>
  <button class="bg-bright-red archivo-font font-black  py-2.5 px-11 rounded-md text-lg btn-shadow tracking-wider"
    alt="suscribirse">INSCRIBETE</button>
</section>
