<main class="bg-lighter-black text-dimmed-white">
  <div class="pl-desktop-padding max-w-3xl py-28 ">
    <h1 class="text-6xl archivo-font font-black leading-[4rem] ">CONSTANCIA<br />DISCIPLINA<br />ESFUERZO<br />
    </h1>
    <p class="mt-4 dm-sans-font text-dimmed-white/80 w-[40ch]">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Morbi leo mi,
      imperdiet non
      justo eu,
      facilisis finibus
      sapien. Morbi est quam, dapibus vel rutrum vel</p>
    <button class="bg-bright-red archivo-font font-black mt-6 mr-5 py-2.5 px-11 rounded-md text-lg ">INSCRIBETE</button>
    <span class="archivo-font font-extrabold">SIN COSTO</span>
  </div>
</main>
