<main class="bg-light-black text-dimmed-white">
  <div class="pl-desktop-padding max-w-3xl py-28 ">
    <span class="gradient-shadow"></span>
    <h1 class="text-6xl archivo-font font-black leading-[4rem] ">CONSTANCIA<br />DISCIPLINA<br />ESFUERZO<br />
    </h1>
    <p class="mt-4 dm-sans-font text-dimmed-white/80 w-[40ch]">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Morbi leo mi,
      imperdiet non
      justo eu,
      facilisis finibus
      sapien. Morbi est quam, dapibus vel rutrum vel</p>
    <button
      class="bg-bright-red archivo-font font-black mt-6 mr-5 py-2.5 px-11 rounded-md text-lg btn-shadow tracking-wider"
      alt="suscribirse">INSCRIBETE</button>
    <span class="archivo-font font-extrabold">SIN COSTO</span>
  </div>
</main>
<section class="bg-strong-black py-7 flex justify-center items-center space-x-24">
  <img src="../../../../assets/fechipo.svg" alt="fechipo logo" class="w-60" />
  <img src="../../../../assets/fechipo.svg" alt="fechipo logo" class="w-60" />
  <img src="../../../../assets/fechipo.svg" alt="fechipo logo" class="w-60" />
</section>
<section class="bg-light-black text-dimmed-white px-desktop-padding ">
  <h2>¿Que es ser un <i>MASTER</i>?</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna. Pellentesque.
  </p>
  <div class="flex justify-around ">
    <div class="bg-lighter-black">
      <h3>Inicios</h3>
      <p>Un poco de como esta fundada consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna.
        Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris. </p>
    </div>
    <div class="bg-lighter-black">
      <h3>Inicios</h3>
      <p>Un poco de como esta fundada consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna.
        Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris. </p>
    </div>
  </div>
</section>
