<main class="pb-16 bg-light-black text-dimmed-white | lg:pb-0">
  <div
    class="flex flex-col items-center justify-center pt-32 text-center | lg:text-left lg:block lg:pl-desktop-padding lg:max-w-3xl lg:py-28 ">
    <span class="gradient-shadow"></span>
    <h1 class="archivo-font font-black text-4xl |lg:text-6xl  ">
      CONSTANCIA<br />DISCIPLINA<br />ESFUERZO<br />
    </h1>
    <p class="w-9/12 mt-4 text-dimmed-white/80 | md:w-[30ch] ">Lorem ipsum dolor sit amet, consectetur
      adipiscing elit.
      Morbi leo mi,
      imperdiet non
      justo eu,
      facilisis finibus
      sapien.</p>
    <div>
      <button
        class="px-8 bg-bright-red archivo-font font-black mt-6 mr-5 py-2.5 rounded-md btn-shadow tracking-wider | lg:px-11 lg:text-lg"
        alt="suscribirse">INSCRIBETE</button>
      <span class="archivo-font font-extrabold">SIN COSTO</span>
    </div>
  </div>
</main>
